<input class="boton" type="button" name="Enviar" value="Principio" (click)="principio()">
<input class="boton" type="button" name="Enviar" value="Anterior" (click)="anterior()">
<input class="boton" type="button" name="Enviar" value="Siguiente" (click)="siguiente()">
<input class="boton" type="button" name="Enviar" value="Ultimo" (click)="ultimo()">
<br>
<label class="boton" id = "cantidad">
    {{"TOTAL USUARIOS: " + arreglo_personas.length}}
</label>  
<label class="boton" id = "coincidencias">
    {{"COINCIDENCIAS DE USUARIOS: " + arreglo_busqueda.length}}
</label>           